Xft.dpi: 96
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

URxvt.font: xft:SF Mono:style=Medium:size=16
URxvt.boldFont: xft:SF Mono:style=Bold:size=16
URxvt.italicFont: xft:SF Mono:style=Medium Italic:size=16
URxvt.boldItalicFont: xft:SF Mono:style=Bold Italic:size=16

URxvt.cursorUnderline: true
URxvt.cursorBlink: 1
URxvt.letterSpace: -1
URxvt.scrollBar: false
URxvt.externalBorder: 0
URxvt.internalBorder: 60

#include ".colours"
#include ".rofi"
